




body{
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(fondo.jpg);
  background-size: cover;
  background-position: center;

}

/*Header*/

/*
.logo{
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;

}


#inicio .contenido header{

    background-color: rgba(111, 210, 72, 0.8);
    position: fixed;
    width: 100%;
    z-index: 0;
    top: 30px;
    height: 50px;
  }
  
  #inicio .contenido header .contenido-header{
  
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10 px 20px;
    margin-top: 0px;
  }
  
  #inicio .contenido header .contenido-header h1{
  
    text-align: center;
    color:#453838;
  }
  
  #inicio .contenido header .contenido-header nav ul{
  
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 100px;
    
  }
  #inicio .contenido header .contenido-header nav ul li a{
  
    text-decoration: none;
    color: #453838;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
    font-size: 1.2rem;
  
  }
  
  #inicio .contenido header .contenido-header nav ul a:hover{
  
    color: #fff;
  }
  
  #inicio .contenido header .contenido-header .redes a{
  
     text-decoration: none;
     color:#453838 ;
     display: inline-block;
     margin-left: 15px;
     transition: .5s;
  }
  #inicio .contenido header .contenido-header .redes a:hover{
      
    background-color:  grey;
    box-shadow: 5px 5px 18px #fff, -5px -5px 10px #8a8a8a;
  }
.img{
    width: 75px;
    height: 55px;
}





#inicio{
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
 
}

html {
    scroll-behavior: smooth;
}
*/


/*SECCION DEL FOOTER*/

 #foot{
    
    
    background-color: rgba(111, 210, 72, 0.8);
    top: 50px;

    
}
#futer{

margin-top: 60px;
}


.iconos a, p{
    margin: 10px;
}

.derechos{
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    text-align:center ;
    font-size: 1rem;
}

.iconos{
    display: flex;
    width: 100%;
    height: auto;
    color:#453838;
    font-size: 1.5rem;
    justify-content:center;
}
.iconos a:hover{
  
  box-shadow: 5px 5px 18px #fff, -5px -5px 10px #8a8a8a;
}

.iconos a{
    color:#453838 ;
}

.redes a{

    color: brown;
}  

/* seccion de entrada al sitio */

/*
#entrar{

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
*/



.titulo {
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  color:rgba(111, 210, 72, 0.8);
  font-size: 3rem;
  margin-top: 10px;
  text-align: center;
}

 a{

  text-decoration: none;
  text-align: center;
  margin-left: 250px;
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  color:rgba(111, 210, 72, 0.8);
  font-size: 1.5rem;
  margin-top: 20px;
 
  
}


 a:hover{
  color: #fff;
  border: 1px solid rgba(111, 210, 72, 0.8);
  box-shadow: 5px 5px 18px #fff, -5px -5px 10px #8a8a8a;
  transition: .5s;
}

.carrito{

  width: 70%;
  height: 360px;
  left: 170px;
  top: 40px;
 
 
}


.carrito a{

  left: 50px;
}

.contenido{

  
    background-size: cover;
    background-position: center;
    height: 70vh;
    top: 100px;
    width: 70%;
    margin-left: 230px;
}

.entrarweb a{
 
  margin-left: 40%;
  text-align: center;
  
  
}

.derecha{
  width: 170px;
  height: 400px;
 
  margin-left: 101%;
 margin-top: -370px;
}

.derecha h3{
  text-align: center;
  color:  rgba(111, 210, 72, 0.8);
  font-size:large ;

}

.imagenDiv{

  width: 150px;
  height: 300px;
  
  margin: 15px;
  background-image: url(aside_derecha.jpg);
  background-size: cover;
  background-position: center;
}

.izquierda{

  width: 170px;
  height: 400px;
  margin-left: -180px;
  margin-top: -330px;
}

.izquierda h4{
  text-align: center;
  color:  rgba(111, 210, 72, 0.8);
  font-size:large ;
  padding-top: 30px;

}

.imagenDiv-izq{
  width: 150px;
  height: 220px;
  
  margin: 15px;

  background-image: url(pagos.jpg);
  background-size: cover;
  background-position: center;

}