body{
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(fondo.jpg);
  background-size: cover;
  background-position: center;
  height: 90vh;
    
}

/*Header*/
.logo{
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.5rem;
  color:#453838
}




.navbar-collapse{
  background-color: rgba(111, 210, 72, 0.8);
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10 px 20px;
  margin-top: 0px;
  color:#453838
}


.navbar li a{
  text-decoration: none;
  color: #453838;
  margin: 0 12px;
  font-weight: 400;
  transition: .5s;
  font-size: 1rem;
}

.navbar li a:hover{

  
  box-shadow: 5px 5px 18px #fff, -5px -5px 10px #8a8a8a;
}



.redes a {
  text-decoration: none;
  color:#453838 ;
  display: inline-block;
  margin-left: 15px;
  transition: .5s;

}

.redes a:hover{

background-color:  grey;
  box-shadow: 5px 5px 18px #fff, -5px -5px 10px #8a8a8a;
}





/*
.logo{
  font-family: "Silkscreen", sans-serif;
  font-weight: 400;
  font-style: normal;

}


#inicio .contenido header{

    background-color: rgba(111, 210, 72, 0.8);
    position: fixed;
    width: 100%;
    z-index: 0;
    top: 10px;
    height: 50px;
  }
  
  #inicio .contenido header .contenido-header{
  
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10 px 20px;
    margin-top: 0px;
  }
  
  #inicio .contenido header .contenido-header h1{
  
    text-align: center;
    color:#453838;
  }
  
  #inicio .contenido header .contenido-header nav ul{
  
    list-style: none;
    display: flex;
    align-items: center;
    margin-right: 100px;
    
  }
  #inicio .contenido header .contenido-header nav ul li a{
  
    text-decoration: none;
    color: #453838;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
    font-size: 1.2rem;
  
  }
  
  #inicio .contenido header .contenido-header nav ul a:hover{
  
    color: #fff;
  }
  
  #inicio .contenido header .contenido-header .redes a{
  
     text-decoration: none;
     color:#453838 ;
     display: inline-block;
     margin-left: 15px;
     transition: .5s;
  }
  #inicio .contenido header .contenido-header .redes a:hover{
      
    background-color:  grey;
    box-shadow: 5px 5px 18px #fff, -5px -5px 10px #8a8a8a;
  }
.img{
    width: 75px;
    height: 55px;
}

*/


/* seccion del main*/

#inicio{
    background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(fondo.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
   
 
}

html {
    scroll-behavior: smooth;
}

.titulo {
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-style: normal;
    color:rgba(111, 210, 72, 0.8);
    font-size: 3rem;
    text-align: center;
    
   
   
  }
  
  #entrar{

    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.padre{

    outline: 10px solid green;
    position: absolute;
    top: 30%;
    left: 2%;
    height: 400px;
    width: 1210px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

}
.uno, .dos, .tres, .cuatro{

    width: 230px;
    height: 280px;
    border: 2px solid white;
    margin: 40px;
    margin-top: 70px;
    
   
    
}


.name{

    color: white;
    text-align: center;
}


  /*SECCION DEL FOOTER*/

 #foot{
    
    margin-top: 600px;
    background-color: rgba(111, 210, 72, 0.8)
    
}

.iconos a, p{
    margin: 10px;
}

.derechos{
    display: block;
    width: 30%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -10px;
    text-align:center ;
    font-size: 1rem;
}

.iconos{
    display: flex;
    width: 100%;
    height: auto;
    color:#453838;
    font-size: 1.5rem;
    justify-content:center;
}
.iconos a:hover{
  
  box-shadow: 5px 5px 18px #fff, -5px -5px 10px #8a8a8a;
}

.iconos a{
    color:#453838 ;
}

.redes a{

    color: brown;
}  

/* MODO RESPONSIVE */

@media (max-width:768px){

  .logo{
    font-size: 1rem;
  }
.titulo{

  font-size: 1.3rem;
  
  
  
}

body{
  background-image: none;
  background-color: black;
}


.padre{
  
  height: 1015px;
    width: 250px;
    display: block;
    flex-direction: column;
    margin-left: 20px;
    position: relative;
    top: 100px;
}
.uno, .dos, .tres, .cuatro{

  width: 200px;
  height: 200px;
  border: 1px solid white;
  margin: 20px;
  margin-top: 55px;
 
  
}
h4{
  font-size: 1rem;
}


.navbar-collapse{
  background-color: rgba(111, 210, 72, 0.8);
  width: 100%;
  margin: auto;
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 10 px 20px;
  margin-top: 0px;
  color:#453838;
  position: relative;
}

#foot{
    
  margin-top: 200px;
  background-color: rgba(111, 210, 72, 0.8);
  width: auto;
  
}

.derechos{
  display: block;
  width: 20%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -10px;
  text-align:center ;
  font-size: 0.8rem;
}

.iconos{
  display: flex;
  width: 100%;
  height: auto;
  color:#453838;
  font-size: 1rem;
  justify-content:center;
}


}